
.title {
  text-align: center !important;
}
.input {
  height: 40px !important;
  border: 1px solid #d9d9d9 !important;
  box-sizing: border-box !important;
  border-radius: 4px !important;
}
.button {
  height: 40px !important;
  width: 320px !important;
  background-color: #1890ff !important;
  border-radius: 4px !important;
}
.text {
  font-size: 12px !important;
  line-height: 20px !important;
  width: 100%;
  margin-top: -20px;
  text-align: center !important;
}
