// @import "../../styles/sizes.scss";
.ant-spin-nested-loading{
  position: absolute;
  top: 110px;
  right: 100px;
  height:40px;
  width:150px;  
  // @media screen and (max-width: $md) {
  //   right: 60px;
  // }
  // @media screen and (max-width: $sm) {
  //   right: 20px;
  // }
}