.autorize {
  display: flex;
  justify-content: space-between;
}

.sign {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  margin-right: 15px;
  height: 50px;
  border: 1px solid transparent;
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 28px;
  cursor: pointer;

  &:hover {
    border: 1px solid #52c41a;
    color: #52c41a;
  }
  &_active{
    border: 1px solid #52c41a;
    color: #52c41a;
  }
}