@import './style/fonts/stylesheet';

body {
  margin: 0;
  background: #E5E5E5 !important;
  font-family: intermedium !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

